body {
    background-color: #E8E8E8;
    color: #575F7D;
    font-family: 'Bitter', serif;
    font-size: 16px;
    font-weight: lighter;
}

h1, h2, h3, a {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #066C33;
    font-size: 60px;
    font-weight: 900;
}

h2 {
    color: #28B666;
    font-size: 30px;
    font-weight: lighter;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #386641;
    transition: color 0.6s;
    font-weight: bold;
}

a:hover {
    color: #4052D0;
}

.img-circle {
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
    width: 700px;
    margin: 40px auto;
}

@media (max-width: 960px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 720px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .container {
        width: 300px;
    }
}

.box-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 20px 0px;
    text-align: center;
}

.btn-blue {
    background-color: #626893;
    color: white;
    padding: 12px 12px;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: black;
    color: white;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

.list-inline i {
    font-size: 40px;
    color: #575F7D;
}

.list-inline i:hover {
    color: black;
}

#intro p {
    margin-bottom: 40px;
}